html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.analytics-card-title {
    font-size: 1.7rem;
    font-weight: bold;
    color: #333;
    padding-top: 10px;
    letter-spacing: 5px;
}
.analytics-card-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: #666;
    padding-top: 15px;
}
.analytics-card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.products-card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.card-body-education {
    height: 100%;
    overflow-y: auto;
    color: #084298;
    background-color: #e7f1ff;

    scrollbar-width: thin;
    scrollbar-color: #c5c9ce transparent;

}
.card-body-projects,
.card-body-skills {
    height: 100%;
    color: #084298;
    background-color: #e7f1ff;

    scrollbar-width: thin;
    scrollbar-color: #c5c9ce transparent;
}

.card-body-projects h2,
.card-body-skills h2,
.card-body-education h2 {
    padding-left: 10px;
}




.img-fluid {
    max-width: 100%;
    width: 40px;
    height: 40px;
    height: auto;
}

/* Additional styling for the card title */
.card-title {
    font-size: 1.7rem;
    font-weight: bold;
    color: #333;
    padding-top: 10px;
    letter-spacing: 5px;    
}



/* Additional styling for the card text */
.skill-card {
    height: 100vh;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: #c5c9ce transparent;
}
/* For WebKit browsers (Chrome, Safari) */
.skill-card::-webkit-scrollbar {
    width: 6px;
}

/* Optional: Change the color of the scrollbar track */
.skill-card::-webkit-scrollbar-track {
    background: transparent;
}

/* Optional: Change the color of the scrollbar thumb */
.skill-card::-webkit-scrollbar-thumb {
    background: #c5c9ce;
    border-radius: 20px;
}

/* Optional: Change the color of the scrollbar thumb on hover */
.skill-card::-webkit-scrollbar-thumb:hover {
    background: #8b929a;
}

.projects-card {
    height: 100vh;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: #c5c9ce transparent;
}
/* For WebKit browsers (Chrome, Safari) */
.projects-card::-webkit-scrollbar {
    width: 6px;
}
.logos {
    max-width: 100px;
    height: auto;
    
    margin-top: 10px;
}

