html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.sidebar {

    border: 1px solid #c5c9ce;
    background-color: #e7f1ff;
    position:  sticky;
    scrollbar-width: thin;
    scrollbar-color: #c5c9ce transparent;
}
/* For WebKit browsers (Chrome, Safari) */
.sidebar::-webkit-scrollbar {
    width: 6px;
}

/* Optional: Change the color of the scrollbar track */
.sidebar::-webkit-scrollbar-track {
    background: transparent;
}

/* Optional: Change the color of the scrollbar thumb */
.sidebar::-webkit-scrollbar-thumb {
    background: #c5c9ce;
    border-radius: 20px;
}

