.sidebar {
    height: 100vh;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: #c5c9ce transparent;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
}

.sidebar::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #c5c9ce;
    border-radius: 20px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #8b929a;
}