<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <!-- ===========================================
                    BOOTSTRAP CSS
     ===============================================-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet">


    <!-- ===========================================
                    GOOGLE FONTS
     ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@600;700&display=swap"
      rel="stylesheet">
    

    <!-- ===========================================
                    CSS STYLESHEETS
     ===============================================-->
    <link rel="stylesheet" th:href="@{/css/home-page.css}">
    <link rel="stylesheet" th:href="@{/css/cards.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/project-redirect-messages.css}">
    <link rel="stylesheet" th:href="@{/css/school-redirect-messages.css}">
    <link rel="stylesheet" th:href="@{/css/text-headers.css}">


</head>
<body>



                   <!-- ===========================================
                                NAVIGATION BAR
                ===============================================-->
<div class="container-fluid">
    <div class="row min-vh-100">

                    <!-- ===========================================
                                LEFT NAVIGATION BAR
                ===============================================-->
        <nav class="sidebar col-12 col-md-3 col-lg-2 p-3 shadow overflow-auto align-self-start"
            style="height: 100dvh; position: sticky; top: 0; background-color: #e7f1ff;">

            <img src ="images/NEWPVLOGO.png" alt="Pv Logo" class="img-fluid;" style="max-width: 100px; margin-bottom: 10px;">

                <!-- ===========================================
                                NAVIGATION LINKS
                ===============================================-->
            <div class="nav flex-column gap-1">
                <h2 class="essential-label fw-bold fs-5 text-secondary mt-5">
                    <span aria-hidden="true">E</span>
                    <span aria-hidden="true">s</span>
                    <span aria-hidden="true">s</span>
                    <span aria-hidden="true">e</span>
                    <span aria-hidden="true">n</span>
                    <span aria-hidden="true">t</span>
                    <span aria-hidden="true">i</span>
                    <span aria-hidden="true">a</span>
                    <span aria-hidden="true">l</span>
                    <span aria-hidden="true">s</span>
                </h2>


                <!-- ===========================================
                                RESUME LINK WITH ICON
                ===============================================-->
            <a href="assets/Jackson's Resume.pdf" target="_blank"
                    class="resume d-flex align-items-center gap-2 p-2 text-dark text-decoration-none">

                    <div class="circle-holder d-flex justify-content-center align-items-center" style="height: 40px; background-color: rgb(255, 255, 255);
                     border-radius: 50%; margin-top: 5px; width: 40px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                <img th:src="@{/images/resume_icon.png}"
                     alt="Resume icon"
                     class="img-fluid"
                     style="max-width: 30px;">
            </div>
            <span style="font-weight: bold; letter-spacing: 2px;">Resume</span>
            </a>


                <!-- ===========================================
                                PROJECTS LINKS WITH ICON
                ===============================================-->
            
            <div class="linkedin d-flex align-items-center gap-2 p-2 text-dark text-decoration-none">


            <div class="circle-holder d-flex justify-content-center align-items-center" style="height: 40px; background-color: rgb(255, 255, 255);
                     border-radius: 50%; margin-top: 5px; width: 40px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                <img th:src="@{/images/icons8-trophy-100.png}"
                     alt="Linkedin icon"
                     class="img-fluid"
                     style="max-width: 30px;">
            </div>
            <span style="font-weight: bold; letter-spacing: 2px;">Projects</span>

            </div>
            </div>

            <hr class="text-secondary opacity-25 my-3">

                <!-- ===========================================
                                CONTACT INFORMATION
                ===============================================-->
            <div class="nav flex-column gap-1">
                <h2 class="contact-label fw-bold fs-5 text-secondary">
                    <span aria-hidden="true">C</span>
                    <span aria-hidden="true">o</span>
                    <span aria-hidden="true">n</span>
                    <span aria-hidden="true">t</span>
                    <span aria-hidden="true">a</span>
                    <span aria-hidden="true">c</span>
                    <span aria-hidden="true">t</span>
                </h2>
                <!-- Email link with icon -->
            <a href="mailto:jackson@example.com"
                    class="email d-flex align-items-center gap-2 p-2 text-dark text-decoration-none">

            <div class="circle-holder d-flex justify-content-center align-items-center" style="height: 40px; background-color: rgb(255, 255, 255);
                     border-radius: 50%; margin-top: 5px; width: 40px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                <img th:src="@{/images/email_icon.png}"
                     alt="Email icon"
                     class="img-fluid"
                     style="max-width: 25px;">

            </div>
            <span style="font-weight: bold; letter-spacing: 2px;">Email</span>
            </a>


                <!-- ===========================================
                               LINKEDIN WITH ICON
                ===============================================-->
            <a href="https://www.linkedin.com/in/jackson-wiser" target="_blank"
                    class="linkedin d-flex align-items-center gap-2 p-2 text-dark text-decoration-none">

                <div class="circle-holder d-flex justify-content-center align-items-center" style="height: 40px; background-color: rgb(255, 255, 255);
                     border-radius: 50%; margin-top: 5px; width: 40px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                <img th:src="@{/images/linkedin_icon.png}"
                     alt="Linkedin icon"
                     class="img-fluid"
                     style="max-width: 25px;">
                </div>
            <span style="font-weight: bold; letter-spacing: 2px;">Linkedin</span>
            </a>


                <!-- ===========================================
                                GITHUB 
                ===============================================-->
            <a href="https://github.com/PeakValo05" target="_blank"
                    class="github d-flex align-items-center gap-2 p-2 text-dark text-decoration-none">

                <div class="circle-holder d-flex justify-content-center align-items-center" style="height: 40px; background-color: rgb(255, 255, 255);
                     border-radius: 50%; margin-top: 5px; width: 40px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                <img th:src="@{/images/github_icon.png}"
                     alt="Github icon"
                     class="img-fluid"
                     style="max-width: 25px;">
                </div>
            <span style="font-weight: bold; letter-spacing: 2px;">Github</span>
            </a>


                <!-- ===========================================
                               NUMBER AND LOCATION
                ===============================================-->
            <a href="tel:+4258797310"
                    class="phone d-flex align-items-center gap-1 p-2 text-dark text-decoration-none">

                <div class="circle-holder d-flex justify-content-center align-items-center" style="height: 40px; background-color: rgb(255, 255, 255);
                     border-radius: 50%; margin-top: 5px; width: 40px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                <img th:src="@{/images/phone_icon.png}"
                     alt="Phone icon"
                     class="img-fluid"
                     style="max-width: 25px;">
                </div>
            <span style="margin-left: 5px; font-weight: bold; letter-spacing: 2px;">Phone</span>
            </a>



                
            </div> 

            <hr class="text-secondary opacity-25 my-3">

                <!-- ===========================================
                                LOCATION AND AVAILABILITY
                ===============================================-->
            <div class="nav flex-column gap-1">
            <div class="location d-flex align-items-center gap-2 p-2 text-dark text-decoration-none">


            <div class="circle-holder d-flex justify-content-center align-items-center" style="height: 40px; background-color: rgb(255, 255, 255);
                     border-radius: 50%; margin-top: 5px; width: 40px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                <img th:src="@{/images/location_icon.png}"
                     alt="Location icon"
                     class="img-fluid"
                     style="max-width: 20px;">
            </div>  
            <span style="font-weight: bold; letter-spacing: 2px;">Bluffdale, UT</span>
            </div>
                            <!-- ===========================================
                                             OPEN TO NEW OPPORTUNITIES
                            ===============================================-->
            
            <div class="availability d-flex align-items-center gap-2 p-2 text-dark text-decoration-none">

            <div class="circle-holder d-flex justify-content-center align-items-center" style="height: 40px; background-color: rgb(255, 255, 255);
                     border-radius: 50%; margin-top: 5px; width: 40px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                <img th:src="@{/images/calendar_icon.png}"
                     alt="Availability icon"
                     class="img-fluid"
                     style="max-width: 20px;">
            </div>  
            <span style="font-weight: bold; letter-spacing: 2px;">Open to new opportunities</span>

        </div>

            <hr class="text-secondary opacity-25 my-3">

                <!-- ===========================================
                                WORK EXPERIENCE
                ===============================================-->
            <div class="nav flex-column gap-1">
                <h2 class="experience-label fw-bold fs-5 text-secondary mb-2">
                    <span aria-hidden="true">E</span>
                    <span aria-hidden="true">x</span>
                    <span aria-hidden="true">p</span>
                    <span aria-hidden="true">e</span>
                    <span aria-hidden="true">r</span>
                    <span aria-hidden="true">i</span>
                    <span aria-hidden="true">e</span>
                    <span aria-hidden="true">n</span>
                    <span aria-hidden="true">c</span>
                    <span aria-hidden="true">e</span>
                </h2>
                <strong class="text-dark" style="letter-spacing: 2px;">Costco Wholesale</strong>
                <p class="text-dark mb-2">Bakery<br> 2021 - Present</p>
     
                <strong class="text-dark" style="letter-spacing: 2px;">Cinemark Theaters</strong>
                <p class="text-dark mb-0">Floor Staff / Shift Lead<br> 2021 - 2023</p> 
            </div>

            <hr class="text-secondary opacity-25 my-3">

                <!-- ===========================================
                                SKILLS (LEFT NAVIGATION BAR)
                ===============================================-->
            <div class="nav flex-column gap-1">
                <h2 class="skills-label fw-bold fs-5">
                    <span aria-hidden="true">S</span>
                    <span aria-hidden="true">k</span>
                    <span aria-hidden="true">i</span>
                    <span aria-hidden="true">l</span>
                    <span aria-hidden="true">l</span>
                    <span aria-hidden="true">s</span>
                </h2>
                <p class="text-dark mb-0">Java, Spring Boot, Thymeleaf, HTML, CSS, 
                    JavaScript, Bootstraps, Database design, Git, GitHub, Cloud, MySQL, MongoDB</p>
            </div>
        </nav> <!-- End of left navigation bar -->


    <!-- ===========================================
                    MAIN CONTENT
     ===============================================-->
<main class="col-12 col-md-9 col-lg-10 ps-4 pe-0 py-4">




    <div class="card shadow w-100 ms-auto" style="background-color: #e7f1ff;">
        <div class="card-body text-end">

<!-- Search form and profile picture -->
<div class="d-flex align-items-center">
    
    <!-- Search -->
    <form id="search-form" class="w-25 me-auto m-0 d-flex align-items-center gap-2"
          action="/submit"
          method="GET">
        <input
            class="form-control flex-row"
            type="text"
            id="search-box"
            name="search"
            placeholder="Search projects, email, resume..."

            >
            <button type="submit" class="btn btn-primary me-2">Search</button>
                <!-- Redirect message -->
                <div id="redirect-message"
                    class="alert alert-success shadow-sm text-center position-fixed top-20 start-50 translate-middle-x mt-3 d-none"
                    role="alert">
                </div>
                <!-- Error message -->
                <div id="error-message"
                    class="alert alert-danger shadow-sm text-center position-fixed top-20 start-50 translate-middle-x mt-3 d-none"
                    role="alert">
                </div>
                <!-- Spell message -->
                <div id="spell-message"
                    class="alert alert-warning shadow-sm text-center position-fixed top-20 start-50 translate-middle-x mt-3 d-none"
                    role="alert">
                </div>
    </form>

    <!-- Profile -->
    <div class="d-flex align-items-center gap-2">
        <span>Jackson Wiser</span>

        <img src="/images/SelfImage (2).jpeg"
             alt="Profile Picture"
             class="rounded-circle"
             style="width: 40px; height: 40px; object-fit: cover;">
            </div>
        </div>
    </div>
</div> <!-- End of search form and profile picture -->





    <!-- ===========================================
                    ANALYTICS SECTION
     ===============================================-->
<section class="analytics-body col-12 col-md-9 col-lg-10 mt-4 d-flex flex-row align-items-center gap-3 w-100">
    <div th:each ="analytics : ${analyticsList}" class="card shadow w-50" style="height: 250px; background-color: #e7f1ff;">
            <h1 class="analytics-card-title text-center mb-4" th:text="${analytics.name}">CARD 2</h1>
            <p class="analytics-card-text text-center mb-4" th:text="${analytics.quantity} + '+'">Quantity</p>
        </div>
</section> <!-- End of analytics section -->




<div class="row mt-1 g-4">
        <!-- ===========================================
                    SKILLS SECTION
     ===============================================-->
    <section class="col-12 col-lg-5">
        <div class="card shadow border-0 h-100">
            <div class="card-body-skills" style="background-color: #e7f1ff; color: #084298; border: 1px solid #c5c9ce; border-radius: 5px;">

                <h2 style="letter-spacing: 5px; font-weight: bold;">Skills</h2>

                <div style="overflow-y: auto; max-height: 320px;">
                    <div th:each="skill : ${skillsList}"
                         class="d-flex align-items-center gap-3 mb-4">

                        <img th:src="${skill.imageUrl}"
                             th:alt="${skill.name}"
                             style="width: 45px; height: 45px; object-fit: contain; margin-left: 10px;">

                        <div class="flex-grow-1">
                            <h3 class="fs-6 mb-2"
                                th:text="${skill.name}"
                                style="font-weight: bold; letter-spacing: 2px;">
                                Skill
                            </h3>

                            <div class="progress" style="height: 13px;">
                                <div class="progress-bar"
                                     th:style="'width: ' + ${skill.percentage} + '%;'"
                                     th:text="${skill.percentage} + '%'">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section> <!-- End of skills section -->

    


    <!-- ===========================================
                        EDUCATION SECTION 
        ===============================================-->
    <section class="col-12 col-lg-7">
        <div class="card shadow border-0 h-100">
            <div class="card-body-education" style="background-color: #e7f1ff; color: #084298; border: 1px solid #c5c9ce; border-radius: 5px;">
                <h2 style="letter-spacing: 5px; font-weight: bold;">Education</h2>

                <div class="row g-3">
                    <div th:each="education : ${educationList}"
                         class="col-12 col-md-6">

                        <div class="card h-100" style="background-color: #e7f1ff;">
                            <div class="card-body">
                                <h3 th:text="${education.schoolName}">School Name</h3>
                                <p th:text="${education.degree}">Degree</p>


                <div id="redirect-overlay" class="redirect-overlay d-none"></div>
                                <!-- GCU button and message -->
                        <div th:if="${education.schoolName == 'Grand Canyon University'}">

                            <button class="btn btn-primary school-button"
                                th:attr="data-url=${education.schoolUrl}"
                                data-message="gcu-message"
                                type="button">
                                    Visit GCU
                            </button>

                        <div id="gcu-message"
                            class="school-redirect-message mtech-panel d-none w-25 h-25 justify-content-center align-items-center flex-column"
                            style="color: #084298; border: 1px solid #c5c9ce;">

                    <div class="circle-holder d-flex justify-content-center align-items-center" style="height: 70px; background-color: rgb(255, 255, 255);
                     border-radius: 50%; margin-top: 10px; width: 70px; margin-left: auto; margin-right: auto; padding-top: 10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">

                            <img th:src="@{/images/icons8-purple-graduation-cap-100.png}"
                                 alt="graduation cap Logo"
                                 class="img-fluid"
                                 style="width: 50px; height: 50px; object-fit: contain;">
                        </div>
                            <h3>Opening GCU</h3>
                            <p>Redirecting you to Grand Canyon University…</p>

                                <!-- ===========================================
                                            LOADING DOTS ANIMATION
                                ===============================================-->
                            <div class="loading-dots">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>

                        </div>


                        <!-- ===========================================
                                    MTECH button and message 
                        ===============================================-->
                        <div th:if="${education.schoolName == 'Mountainland Technical College'}">

                            <button class="btn btn-primary school-button"
                                th:attr="data-url=${education.schoolUrl}"
                                data-message="mtech-message"
                                type="button">
                                    Visit MTECH
                            </button>

                        <div id="mtech-message"
                            class="school-redirect-message mtech-panel d-none w-25 justify-content-center align-items-center flex-column"
                            style="color: #084298; border: 1px solid #c5c9ce;">

                    <div class="circle-holder d-flex justify-content-center align-items-center" style="height: 70px; background-color: rgb(255, 255, 255);
                     border-radius: 50%; margin-top: 10px; width: 70px; margin-left: auto; margin-right: auto; padding-top: 10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">

                            <img th:src="@{/images/icons8-purple-graduation-cap-100.png}"
                                 alt="graduation cap Logo"
                                 class="img-fluid"
                                 style="width: 50px; height: 50px; object-fit: contain;">
                        </div>

                            <h3>Opening MTECH</h3>
                            <p>Redirecting you to Mountainland Technical College…</p>

                            <div class="loading-dots">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>


                        </div>

                    </div>
                        <div id="redirect-overlay" class="redirect-overlay d-none"></div>


                            
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </section> <!-- End of education section -->

     <!-- ===========================================
                    PROJECTS SECTION
     ===============================================-->
    <div class="row mt-1 gy-4 gx-0 align-items-start">

    <!-- Projects -->
    <section class="col-12" style="padding-left: 12px; padding-right: 12px;">
        <div class="card shadow border-0 w-100">
            <div class="card-body-projects" style="background-color: #e7f1ff; color: #084298; border: 1px solid #c5c9ce; border-radius: 5px;">
                <h2 style="letter-spacing: 5px; font-weight: bold;">Projects</h2>




            <div id="redirect-overlay" class="redirect-overlay d-none"></div>
                <div class="row g-3">
                    <div th:each="project : ${projectsList}"
                         class="col-12 col-md-6">

                        <div class="card h-100">
                            <div class="card-body" style="background-color: #e7f1ff;">
                                <h3 th:text="${project.name}">Project</h3>
                                <p th:text="${project.description}">
                                    Description
                                </p>

                              

                    <!-- ===========================================
                            CLOUD TASK MANAGER project button and message
                    ===============================================-->
                <div th:if="${project.name == 'Cloud Task Manager'}">

                    <button class="btn btn-primary project-button"
                        th:attr="data-url=${project.projectUrl}"
                        data-message="cloud-task-manager-message"
                        type="button">
                            Visit Project
                    </button>

                <div id="cloud-task-manager-message"
                    class="project-redirect-message cloud-task-panel d-none position-fixed">


                    <!-- ===========================================
                        CIRCLE HOLDER AND ICON
                    ===============================================-->
                <div class="circle-holder" style="height: 70px; background-color: rgb(255, 255, 255);
                     border-radius: 50%; margin-top: 10px; width: 70px; margin-left: auto; margin-right: auto; padding-top: 10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                    <img th:src="@{/images/icons8-trophy-100.png}"
                        alt="Cloud Task Manager icon"
                        class="img-fluid" style="width: 50px; height: 50px; object-fit: contain;">
                </div>

                    <h3>Opening Cloud Task Manager</h3>
                    <p>Redirecting you to Cloud Task Manager…</p>

                    <div class="loading-dots">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div> <!-- End of loading dots animation -->
                </div> <!-- End of cloud task manager message -->
                </div> <!-- End of project button and message -->



                     <!-- ===========================================
                            PORTFOLIO project button and message
                    ===============================================-->
                <div th:if="${project.name == 'Jackson''s Developer Portfolio'}">
                    <button class="btn btn-primary project-button"
                        th:attr="data-url=${project.projectUrl}"
                        data-message="portfolio-website-message"
                        type="button">
                            Visit Project
                    </button>
                <div id="portfolio-website-message"
                    class="project-redirect-message cloud-task-panel d-none position-fixed">

                <div class="circle-holder" style="height: 70px; background-color: rgb(255, 255, 255);
                     border-radius: 50%; margin-top: 10px; width: 70px; margin-left: auto; margin-right: auto; padding-top: 10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                    <img th:src="@{/images/icons8-trophy-100.png}"
                        alt="Portfolio Trophy icon"
                        class="img-fluid" style="width: 50px; height: 50px; object-fit: contain;">
                </div>

                    <h3>Opening Jackson's Developer Portfolio</h3>
                    <p>Redirecting you to Jackson's Developer Portfolio…</p>



                    <div class="loading-dots">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div> <!-- End of loading dots animation -->
                </div> <!-- End of cloud task manager message -->
                </div> <!-- End of project button and message -->
                                </div> <!-- End of card body -->
                            </div> <!-- End of card -->

                        </div> <!-- End of project column -->
                    </div> <!-- End of row -->
                </div>
            </div>
        </div>
    </section> <!-- End of projects section -->
    </div> <!-- End of row -->

</main> <!-- End of main content -->
    </div> <!-- End of row -->
</div> <!-- End of container-fluid -->




     <!-- ===========================================
                    JAVASCRIPT FILES
     ===============================================-->
<script th:src="@{/javascript/home-page.js}"></script>
<script th:src="@{/javascript/redirect-messages.js}"></script>


</body>
</html>

